{% extends 'bast.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block styles%}
{% endblock %}

{% block heading %} Project Starter {% endblock %}

{% block content%}
    <div id="main-container">
        <div id="progress-container">
            <div id="progress">
            </div>
            <div id="circle" class="active">1</div>
            <div id="circle" class="">2</div>
            <div id="circle" class="">3</div>
            <div id="circle" class="">4</div>
        </div>
        <button id="prev" disabled>Previous</button>
        <button id="next">Next</button>
    </div>
{% endblock %}

{% block script %}
    <script src=""></script>
{% endblock %}	