{% extends 'base.html' %}
{% load static %}

{% block title %} {% endblock %}

{% block styles%}
{% endblock %}

{% block heading %}  {% endblock %}

{% block custom_body_styles %}
    font-mulish flex items-center justify-center h-full overflow-hidden m-0 text-center bg-slate-950
{% endblock %} 

{% block content%}
    <div id="main-container" class="text-center text-slate-50">
        <div id="progress-container" class="flex justify-between relative mb-8 max-w-full w-80 sm:w-96 md:w-[720px] ">
            <div id="progress-full" class="
                before:-z-20 bg-slate-800 -translate-y-1/2 -z-10 absolute top-1/2 h-1 w-full transition-all 
                duration-[400ms] ease-in" >
            </div>
            <div id="progress" class="
                before:-z-20 bg-green-600 -translate-y-1/2 -z-10 absolute top-1/2 h-1 w-0 transition-all 
                duration-[400ms] ease-in">
            </div>
            <div id="circle" class="bg-slate-950 transition-all duration-[400ms] ease-in rounded-full w-9 h-9 sm:w-12 sm:h-12 md:w-16 md:h-16 flex justify-center items-center border-4 border-green-600">1</div>
            <div id="circle" class="bg-slate-950 transition-all duration-[400ms] ease-in rounded-full w-9 h-9 sm:w-12 sm:h-12 md:w-16 md:h-16 flex justify-center items-center border-4 border-slate-800">2</div>
            <div id="circle" class="bg-slate-950 transition-all duration-[400ms] ease-in rounded-full w-9 h-9 sm:w-12 sm:h-12 md:w-16 md:h-16 flex justify-center items-center border-4 border-slate-800">3</div>
            <div id="circle" class="bg-slate-950 transition-all duration-[400ms] ease-in rounded-full w-9 h-9 sm:w-12 sm:h-12 md:w-16 md:h-16 flex justify-center items-center border-4 border-slate-800">4</div>
            <div id="circle" class="bg-slate-950 transition-all duration-[400ms] ease-in rounded-full w-9 h-9 sm:w-12 sm:h-12 md:w-16 md:h-16 flex justify-center items-center border-4 border-slate-800">5</div>
        </div>
        <button id="prev" class="mx-4 sm:mx-6 md:mx-12 disabled:bg-slate-800 disabled:border-slate-800 disabled:text-slate-400 bg-none btn border-2 text-sm py-1 px-2 border-green-600 text-slate-50 cursor-pointer w-24 rounded active:scale-50 transition-transform duration-200 focus:border-green-600 focus:bg-green-600" disabled>Previous</button>
        <button id="next" class="mx-4 sm:mx-6 md:mx-12 disabled:bg-slate-800 disabled:border-slate-800 disabled:text-slate-400 bg-none btn border-2 text-sm py-1 px-2 border-green-600 text-slate-50 cursor-pointer w-24 rounded active:scale-50 transition-transform duration-200 focus:border-green-600 focus:bg-green-600" >Next</button>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'steps/js/stepsController.js' %}"></script>
{% endblock %}	