<div class="
    group m-0 w-[90vw] h-10 justify-center mx-auto bg-cover sm:flex-[0.5]
    sm:bg-no-repeat relative transition-all hover:h-[90vw] sm:hover:flex-auto
    sm:w-96 md:w-[65vw] lg:w-[700px] ease-out duration-700 cursor-pointer bg-center
    hover:duration-500 sm:bg-auto-100 sm:h-[80vh] sm:hover:h-[80vh] font-mulish
    rounded-3xl xl:hover:w-[1000px] text-white sm:m-0.5 my-auto sm:hover::m-0.5" 
    style="background-image: url('{{ link }}');">
    <h3 class="
        text-2xl absolute bottom-6 left-5 m-0 
        opacity-0 group-hover:opacity-100 transition-opacity duration-400 ease-in">
        {{ text }}
    </h3>
</div>
