{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block styles%}
{% endblock %}

{% block custom_body_styles %}
{% endblock %} 

{% block custom_section_styles %}{% endblock %}

{% block heading %}{% endblock %}
{% block content%}
    
<div id="bg" class="group flex flex-col items-center justify-center relative w-screen h-screen overflow-hidden bg-gray-200 text-gray-900 transition-all  ">
    <button id="toggle" class="
    bg-gray-900 text-gray-200 
    py-2 px-3 rounded-md cursor-pointer absolute top-28 left-1/2 -translate-x-1/2">
        Dark Mode
    </button>
    <div id="clock-container" class="flex flex-col items-center justify-between gap-4">
        <div id="clock" class="relative min-w-52 min-h-52 md:w-72 md:h-72  bg-gray-500/25 border rounded-full border-none p-4" >
            <div id="hour-hand" class="absolute rounded-full bg-green-700 border border-green-700 w-1.5 h-1/4 origin-bottom top-1/2 left-1/2 -translate-y-full -translate-x-1/2"></div>
            <div id="minute-hand" class="absolute rounded-full bg-green-600 border border-green-600 w-1 h-[40%] origin-bottom top-1/2 left-1/2 -translate-y-full -translate-x-1/2"></div>
            <div id="second-hand" class="absolute rouunded-full border-orange-700 bg-orange-700 border w-0.5 h-[45%] origin-bottom top-1/2 left-1/2 -translate-y-full -translate-x-1/2"></div>
            <div id="center" class="absolute border-none bg-orange-700 rounded-full w-4 h-4 origin-bottom top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"></div>
            <div id="center" class="absolute border-none bg-gray-900 rounded-full w-2 h-2 origin-bottom top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2"></div>
        </div>
        <div id="time" class="text-3xl font-thin">05:45</div>
        <div id="date">
            Friday
            <span id="circle" class="bg-green-700 text-gray-200 p-3 rounded-full" >25th</span> 
            October 2025
        </div>
    </div>

</div>
   
{% endblock %}

{% block script %}
<script src="{% static 'clock/js/clockController.js' %}"></script>
{% endblock %}

