@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@layer base {
    html {
        font-family: "Roboto", sans-serif;
    }

    body {
        @apply min-h-screen
    }

    h1 {
        @apply text-4xl md:text-6xl
    }
    h2 {
        @apply text-3xl md:text-5xl
    }
    h3 {
        @apply text-2xl md:text-4xl
    }
    h4 {
        @apply text-xl md:text-3xl
    }
    h5 {
        @apply text-lg md:text-2xl
    }
    h6 {
        @apply text-base md:text-xl 
    }

    #past, #future, #today {
        @apply text-gray-300 z-10
    }

    #today {
        @apply rounded-full before:content-[""] 
        before:w-9 before:h-9 before:absolute before:top-1/2
        before:left-1/2 before:-translate-x-1/2 
        before:-translate-y-1/2 before:bg-black 
        before:rounded-full before:-z-10 text-gray-300
    }

    #faq {
        @apply bg-transparent m-6 px-7 py-5 relative 
        overflow-hidden duration-500 ease-in-out
        border border-black rounded-lg shadow-md shadow-gray-700
    }


    #faq.activated {
        @apply bg-green-50 
    }

    #faq.activated::before, 
    #faq.activated::after { 
        content: '\f075';
        font-family: 'Font Awesome 5 Free';
        color: #0ea5e9;
        position: absolute;
        top: 20px;
        left:20px;
        z-index: 0;
        font-size: 7rem;
        opacity: 0.2;
    }

    #faq.activated::before {
        color: #16a34a;
        top: -10px;
        left: 75px;
        transform: rotateY(180deg);
    }

    #faq-text {
        @apply hidden text-xl
    }

    #faq.activated #faq-text {
        @apply block
    }

    #faq-toggl {
        @apply cursor-pointer flex items-center justify-center 
        absolute top-7 right-7 h-7 w-7 text-lg hover:scale-150
    }

    #faq-toggl .fa-times {
        @apply hidden
    }

    #faq.activated #faq-toggl .fa-times {
        @apply block
    }

    #faq.activated #faq-toggl .fa-chevron-down {
        @apply hidden
    }

    #cup {
        @apply bg-white m-1 border-solid border-blue-800 text-blue-800 transition-colors duration-300 ease-linear
    }

    #cup.full {
        @apply bg-blue-400 text-white
    }
}

@layer components {
    .rotated {
      @apply rotate-[-25deg] sm:rotate-[-20deg]
    }

    div#slide-bg {
        @apply before:-z-50 before:bg-black/5
    }
}



