#kinetic {
    transform-origin: center ;
}

#kinetic::before, #kinetic::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 45px solid transparent;
    border-bottom-color: #6366f1;
    border-radius: 100%;
    animation: rotateA 2s ease-in-out infinite 0.5s;
}

#kinetic::before {
    transform: rotate(180deg);
    animation: rotateB 2s ease-in-out infinite 0.5s;
}

@keyframes rotateA {
    0%, 25% {
        transform: rotate(0deg);
    };
    50%, 75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateB {
    0%, 25% {
        transform: rotate(180deg);
    };
    50%, 75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(540deg);
    }
}

