@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.press-start-2p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
 
.screen.up {
  margin-top: -100vh;
}

.insect {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: 700px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-out;
}

.insect.caught {
  transform: scale(0);
}

.insect img {
  width: 100px;
  height: 100px;
}
