{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block styles%}
{% endblock %}

{% block custom_body_styles %}bg-orange-300{% endblock %} 

{% block custom_section_styles %}{% endblock %}

{% block heading %}{% endblock %} 

{% block content%}
<div class="">
    <div id="box" class="box translate-x-[500%]  justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
    <div id="box" class="box translate-x-[-500%] justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
    <div id="box" class="box translate-x-[500%] justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
    <div id="box" class="box translate-x-[-500%] justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
    <div id="box" class="box translate-x-[500%]  justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
    <div id="box" class="box translate-x-[-500%] justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
    <div id="box" class="box translate-x-[500%] justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
    <div id="box" class="box translate-x-[-500%] justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
    <div id="box" class="box translate-x-[500%] justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
    <div id="box" class="box translate-x-[-500%] justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
    <div id="box" class="box translate-x-[500%] justify-center bg-blue-300 flex rounded-xl m-4 transition duration-700 ease-in-out items-center shadow-black shadow-md text-center w-96 h-48">  <h2 class="">Your Content Here</h2></div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'scroll/js/boxAnimation.js' %}"></script>
{% endblock %}	